.login-container
    h1.tit
        i.fa.fa-code
        |毕业生就业管理信息系统
    form.login-form('@submit'='submit')
        p.login-row
            input.form-control(type='text', name='username', v-model='username',
            placeholder='请输入学号',
            ':readonly'='loading')
            span(style='color: #aaa; margin-left: 5px; font-size: 14px')
        p.login-row
            input.form-control(type='password', name='password', v-model='password',
            placeholder='请输入密码',
            ':readonly'='loading')
        p.login-row
            input.form-control(type='password', name='repassword', v-model='repassword',
            placeholder='请再次输入密码',
            ':readonly'='loading')
        p.login-row
            button.btn.btn-primary.btn-sm.btn-block(type='submit',
            ':disabled'='loading')
                span(v-if='!loading') 注册
                span(v-if='loading')
                    i.fa.fa-spin.fa-spinner
                    |loading...
        //- p.login-row.text-danger(v-if='error')
        //-     i.fa.fa-warning
        //-     |{{error}}
    p.power-by
        |天津商业大学 周洁
