el-tabs(type='border-card' v-model='value' @tab-click='handleClick')
    el-tab-pane(label="按单位查询" name='company') 
        .access-company.chart-box
    el-tab-pane(label="按行业查询" name='industry') 
        .access-industry.chart-box
    el-tab-pane(label="按学校查询" name='school')
        .access-school.chart-box